body {
  background-color: #E3E4E8;
}

.links ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.links li {
  display: inline;
  font-size: 14px;
}

.links li a {
  text-decoration: none;
  color: #BFC0CB;
}

.links li a:active,
.links li a:hover{
  color: #4E4E4E;
  border-bottom: 2px solid #F1692C;
}

.account-view-links .add-funds {
  margin-left: 50px;
}

.account-view-links .add-funds a{
  color: #F1692C;
}

.l-dashboard {
  margin: 130px 60px;
  width: 1330px;
  height: 800px;
  display:flex;
  flex-direction: row;
  overflow: hidden;
}

.l-portfolio {
  width: 1032px;
  height: 100%;
  background-color: #F5F7FB;
  border-radius: 25px 0 0 25px;
}

.l-personal-balance {
  width: 268px;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 0 25px 25px 0;
}

.l-personal-balance .links {
  margin:75px 40px 45px 45px;
}

.l-personal-balance .links a {
  margin-right: 16px;
}
.l-personal-balance .account-view-links {
  margin:0;
  padding: 0 34px 20px 50px;
  border-bottom: 1px solid #C2C4CD;
}
.l-personal-balance .links a:nth-last-child(2){
  margin-right: 0;
}

.l-personal-balance .links button{
  background-color: #F1692C;
  color:#FFEDDF;
  border-radius: 8px;
}
.balanceView {
  margin: 0 50px 50px 50px;
}

.balanceView img{
  width: 16px;
  height: 16px;
  margin-left: 12px;
}

.balanceView .balance{
  font-size:34px;
}

.balanceView .accordion-view {
  font-size: 13px;
  color: #C2C4CD;
}

.balanceView .accordion-view .amount{
  margin-right: 5px;
}

.balanceView .accordion-view .message {
  border-bottom: 1px dotted #C2C4CD;
}

.balanceView button {
  width: 140px;
  height: 32px;
  background-color: transparent;
  border-radius: 9999em;
  color: #333333;
  font-weight: bold;
}
.l-personal-balance .account .account-list {
  display: flex;
}
.account-list {
  font-size: 14px;
  border-bottom: 1px dotted #C2C4CD;
  margin: 24px 0;
}
.account-list p{
  padding: 0;
  margin: 0;
}

.account-list img {
  margin-top: 50%;
  width: 12px;
}
.account-list .account-amount {
  color: #999BA8;
  margin-top: 10px;
  margin-bottom: 20px;
}
.account-list .plus-container{
  margin-left: 130px;
}
.l-portfolio .portfolio-wrapper {
  padding: 75px 90px 0 90px;
}
.l-portfolio .navigation-wrapper {
  display: flex;
}
.portfolio-wrapper .buy-sell-trade,
.portfolio-wrapper .user-profile {
  width: 50%;
}
.user-profile ul {
  float: right;
}
.navigation-wrapper ul li {
  margin-left: 40px;
}
.portfolio-wrapper .card-wrapper button{
  width: 140px;
  height: 45px;
  border-radius: 9999em;
  color: #ABACBD;
  background-color: #FFFFFF;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-wrapper button img {
  width: 25px;
  margin-right: 15px;
}